@model PagedList.IPagedList<AccountingSoftware.Models.NguoiDung>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tài khoản";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuanTri)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNguoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuanTri)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaNguoiDung }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaNguoiDung }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaNguoiDung })
                </td>
            </tr>
        }

    </table>*@
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản lý tài khoản</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-8">
                    @*<span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Thêm mới", "Create")*@
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
                        Thêm mới
                    </button>
                </div>
                <div class="col-sm-4">
                    <div id="datatable_filter" class="dataTables_filter">
                        <form>
                            <button type="submit" hidden>My Button</button>
                            <input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="searchString" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="basic-addon2" />
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color: #2e6da4; color:white">

                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Quản trị
                        </th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TenNguoiDung)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                            <td> @(item.QuanTri? "Ban giám đốc" : "Nhân viên")</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" onclick="loadData('@item.MaNguoiDung')" data-target="#modalUpdate" style="background-color: forestgreen">
                                    Cập nhật
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" onclick="deleteItem('@item.MaNguoiDung')" style="background-color: red">
                                    Xoá
                                </button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
            {
                page,
            currentFilter = ViewBag.CurrentFilter
            }))
        </div>
    </div>
</div>

@section Popup{
    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">THÊM MỚI TÀI KHOẢN</h5>
                </div>
                <div class="modal-body">
                    <form id="add-form" onsubmit="return themNguoiDung()">
                        <div class="form-group">
                            <label for="USERNAME">Username</label>
                            <input type="text" class="form-control" id="username" name="TenNguoiDung" placeholder="Nhập username">
                        </div>
                        <div class="form-group">
                            <label for="PASSWORD">Password</label>
                            <input type="text" class="form-control" id="password" name="MatKhau" placeholder="Nhập password">
                        </div>
                        <div class="form-group">
                            <label for="QuanTri">Quản trị</label>
                            <br />
                            <input class="form-check-input" type="radio" name="QuanTri" id="QuanTri0" value="true"> Quản trị viên
                            &nbsp;
                            <input class="form-check-input" type="radio" name="QuanTri" id="QuanTri1" value="false"> Nhân viên
                        </div>

                        <p id="add-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="themNguoiDung()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section changePopup {
    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">CẬP NHẬT TÀI KHOẢN</h5>
                </div>
                <div class="modal-body">
                    <form id="update-form" onsubmit="return capNhatNguoiDung()">
                        <input type="hidden" name="MaNguoiDung" id="id1" />
                        <div class="form-group">
                            <label for="USERNAME">UserName</label>
                            <input type="text" class="form-control" id="username1" name="TenNguoiDung" placeholder="Nhập username">
                        </div>
                        <div class="form-group">
                            <label for="PASSWORD">Password</label>
                            <input type="text" class="form-control" id="password1" name="MatKhau" placeholder="Nhập password">
                        </div>
                        <div class="form-group">
                            <label for="QuanTri">Quản trị</label>
                            <br />
                            <input class="form-check-input" type="radio" name="QuanTri" id="gioitinhb" value="true"> Quản trị viên
                            &nbsp;
                            <input class="form-check-input" type="radio" name="QuanTri" id="gioitinhg" value="false"> Nhân viên
                        </div>
                        <p id="update-message"></p>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="capNhatNguoiDung()">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@section deletePopup {
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px">XOÁ TÀI KHOẢN</h5>
                </div>
                <div class="modal-body">
                    <h4 class="form-group mb-4 text-center fa-1x">
                        Bạn đã chắc chắn chưa ?
                    </h4>
                    <div class="form-group mb-12" style="display: flex">
                        <input type="hidden" value="" id="delete-id" />

                        <div class="form-group mb-6" style="width:50%">
                            <button type="button" class="btn btn-block btn-danger" onclick="xoaNguoiDung()">Xoá</button>
                        </div>
                        <div class="form-group mb-6" style="width:50%">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                        <p id="delete-message"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Areas/Administrator/Assets/NguoiDung.js"></script>