@model AccountingSoftware.Models.ThamSoTinhLuong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThamSoTinhLuong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThangNam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThangNam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CongLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CongLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioCongNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioCongNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HsNgayThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HsNgayThuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HsNgayLe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HsNgayLe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PcAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PcAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLBHXH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLBHXH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLBHYT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLBHYT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLBHTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLBHTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TLKPCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TLKPCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiamTruBanThan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiamTruBanThan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiamTruNPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiamTruNPT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaThamSo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
